services:
  router:
    image: itzg/mc-router:latest@sha256:b5e4bb0178d4e200a832b3ab20d99de71040db1c9081d3a8f83c9c47540447b2
    command: --in-docker-swarm
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

    deploy:
      mode: replicated
      replicas: 1
      labels:
        - traefik.enable=true
        - traefik.tcp.routers.mc-router.rule=HostSNI(`*`)
        - traefik.tcp.routers.mc-router.entrypoints=minecraft-tcp
        - traefik.tcp.services.mc-router.loadbalancer.server.port=25565
        - traefik.udp.routers.mc-router.entrypoints=minecraft-udp
        - traefik.udp.services.mc-router.loadbalancer.server.port=25565
    networks:
      - traefik

networks:
  traefik:
    external: true
