services:
  router:
    image: itzg/mc-router:latest
    command: --in-docker-swarm
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

    deploy:
      mode: replicated
      replicas: 1
      labels:
        - traefik.enable=true
        - traefik.tcp.routers.mc-router.rule=HostSNI(`*`)
        - traefik.tcp.routers.mc-router.entrypoints=minecraft-tcp
        - traefik.tcp.services.mc-router.loadbalancer.server.port=25565
        - traefik.udp.routers.mc-router.entrypoints=minecraft-udp
        - traefik.udp.services.mc-router.loadbalancer.server.port=25565
    networks:
      - traefik

networks:
  traefik:
    external: true
