services:
  cma:
    image: "ghcr.io/mshogren/container-minecraft-app:latest@sha256:994b929bbbf062682ac0b4ceda41301464bf5c8bd283ef68c18996650f4ce728"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

    environment:
      CURSEFORGE_API_KEY: ${CURSEFORGE_API_KEY}

    deploy:
      labels:
        - traefik.enable=true
        - traefik.http.routers.cma.rule=Host(`cma.apps.metalnet.org`) || Host(`cma`)
        - traefik.http.routers.cma.entrypoints=websecure
        - traefik.http.routers.cma.service=cma
        - traefik.http.routers.cma.tls=true
        - traefik.http.routers.cma.tls.certresolver=le
        - traefik.http.routers.cma.tls.domains[0].main=cma.apps.metalnet.org
        - traefik.http.services.cma.loadbalancer.server.port=80
        - homepage.group=Applications
        - homepage.name=Container Minecraft App
        - homepage.href=https://cma.apps.metalnet.org/

    networks:
      - traefik

networks:
  traefik:
    external: true

