services:
  homeassistant:
    image: "ghcr.io/mshogren/container-minecraft-app:latest"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

    deploy:
      labels:
        - traefik.enable=true
        - traefik.http.routers.cma.rule=Host(`cma.apps.metalnet.org`) || Host(`cma`)
        - traefik.http.routers.cma.entrypoints=websecure
        - traefik.http.routers.cma.service=cma
        - traefik.http.routers.cma.tls=true
        - traefik.http.routers.cma.tls.certresolver=le
        - traefik.http.routers.cma.tls.domains[0].main=cma.apps.metalnet.org
        - traefik.http.services.cma.loadbalancer.server.port=8000
        - homepage.group=Applications
        - homepage.name=Container Minecraft App
        - homepage.href=https://cma.apps.metalnet.org/

    networks:
      - traefik

networks:
  traefik:
    external: true

